<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @subscription.state %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
