/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require lightbox
 *= require bootstrap-multiselect
 *= require_tree .
 *= require_self
 */

.profile-box {
    margin-bottom: 20px;
}
.profile-box .media-left > a, .margin-15 {
    margin: 0 15px;
}
.event-box .media-left > a {
    margin: 0 15px;
}
.event-box .media-left > a > img {
    width: 150px;
}

.fc-basic-view .fc-body .fc-row {
    min-height: 1px;
}

body {
    margin-bottom: 20px
}

.plupload_filelist_footer {
    height: 40px;
}

#comments .media {
    border-bottom: 1px solid lightgray;
}
#gallery .thumb {
    margin: 5px;
}
#comments textarea {
    width: 100%;
}

a:hover {
    background-color: transparent
}

.invitations > div {
    margin-bottom: 5px;
}

#comments, #invite {
    padding: 5px;
}
